.nodered/flows_Jason-PC.json
[{"id":"9bad82d3.73747","type":"tab","label":"Flow 1"},{"id":"8999d696.4e34e8","type":"tab","label":"Flow 2"},{"id":"abc64386.ef263","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"1efaaa2b.a92da6","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"352c287b.4d7588","type":"websocket-listener","z":"","path":"/ws/gateway","wholemsg":"false"},{"id":"4b900b40.fe81d4","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000107-generic-service09","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4b8dc3b6.951bcc","type":"websocket in","z":"9bad82d3.73747","name":"web socket index - in","server":"abc64386.ef263","client":"","x":127,"y":113.00004315376282,"wires":[["c59640e.3a501c"]]},{"id":"c59640e.3a501c","type":"function","z":"9bad82d3.73747","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n\tcontext.global.selectedType=obj.v;\n\tmsg.url = 'http://localhost:3001/todos/lists?name=finalist&type='+obj.v;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":409.44444274902344,"y":130.3333761692047,"wires":[["ed9b7b58.0b5e18"],["6a5d47e8.bbc178"]]},{"id":"8ddb0c9b.2119c","type":"function","z":"9bad82d3.73747","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar finalist = msg.payload;\n\nvar dataString = msgTools.getFinalData(finalist);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: context.global.selectedType}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":856.4444427490234,"y":153.00004696846008,"wires":[["ed9b7b58.0b5e18"]]},{"id":"ed9b7b58.0b5e18","type":"websocket out","z":"9bad82d3.73747","name":"web socket mobiUI - out","server":"abc64386.ef263","client":"","x":1145.4444427490234,"y":113.00004696846008,"wires":[]},{"id":"61dca628.328d38","type":"comment","z":"9bad82d3.73747","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":105.44444274902344,"y":66.00004696846008,"wires":[]},{"id":"6a5d47e8.bbc178","type":"http request","z":"9bad82d3.73747","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":616.4444427490234,"y":153.00004696846008,"wires":[["8ddb0c9b.2119c"]]},{"id":"b7a6215e.c888b","type":"websocket out","z":"9bad82d3.73747","name":"web socket mobiUI - out","server":"1efaaa2b.a92da6","client":"","x":883.5633544921875,"y":390.4000370502472,"wires":[]},{"id":"be5e8aed.fe8cb8","type":"websocket in","z":"9bad82d3.73747","name":"web socket tools - in","server":"1efaaa2b.a92da6","client":"","x":120.89668273925781,"y":305.4000437259674,"wires":[["ba3ae481.b0c378","1d9ab1a7.cc60fe"]]},{"id":"33efa9a0.cb85a6","type":"comment","z":"9bad82d3.73747","name":"Listen /ws/devices","info":"","x":107.5633544921875,"y":265.4000370502472,"wires":[]},{"id":"ba3ae481.b0c378","type":"function","z":"9bad82d3.73747","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var type = obj.v.type;\n    var date = obj.v.date;\n    var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    context.global.selectedType = type;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&type=\"+type+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":104.00779724121094,"y":389.4000332355499,"wires":[["f53a32e3.17592"]]},{"id":"1d9ab1a7.cc60fe","type":"debug","z":"9bad82d3.73747","name":"","active":false,"console":"false","complete":"payload","x":433.8133544921875,"y":303.0172245502472,"wires":[]},{"id":"f53a32e3.17592","type":"http request","z":"9bad82d3.73747","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":301.5633544921875,"y":389.4000370502472,"wires":[["c49211f1.6e101","c0f72c15.8506c"]]},{"id":"c49211f1.6e101","type":"debug","z":"9bad82d3.73747","name":"","active":false,"console":"false","complete":"false","x":414.8055419921875,"y":469.0172245502472,"wires":[]},{"id":"c0f72c15.8506c","type":"function","z":"9bad82d3.73747","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar type = context.global.selectedType;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"init_table\", v: dataString,type: context.global.selectedType}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":582.5633544921875,"y":391.4000370502472,"wires":[["b7a6215e.c888b"]]},{"id":"c50e5971.63e358","type":"comment","z":"9bad82d3.73747","name":"Listen /ws/gateway","info":"global selectGWMac save in msgTools\nreceive id='init' to get\nreceive id='change_mac' to get devices of two modules in gateway ","x":116.50865173339844,"y":507.01374554634094,"wires":[]},{"id":"85c5a06.fb52a6","type":"function","z":"9bad82d3.73747","name":"Check WS Message","func":"\nvar obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_btn\", v: \"gateway\" };\n\treturn [msg,null];\n}else if(obj.id==\"find\"){\n   \n    msg.payload = obj.v;\n    node.warn('find payload:'+ JSON.stringify(msg.payload) );\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":121.50863647460938,"y":627.0137455463409,"wires":[["4ddc4358.90093c"],["bd71cf70.43b62"]]},{"id":"7c4e690.3f6a898","type":"function","z":"9bad82d3.73747","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData('gateway',devices);\n\nmsg.payload = {id:\"change_table1\", v: dataString,type: 'gateway'}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":846.5086669921875,"y":679.0137455463409,"wires":[["4ddc4358.90093c","ab8d437d.ca1dc"]]},{"id":"4ddc4358.90093c","type":"websocket out","z":"9bad82d3.73747","name":"web socket mobiUI - out","server":"352c287b.4d7588","client":"","x":1162.5086669921875,"y":600.0137455463409,"wires":[]},{"id":"6266040e.a5f77c","type":"http request","z":"9bad82d3.73747","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":578.5086669921875,"y":682.0137455463409,"wires":[["7c4e690.3f6a898","a257fa80.c83378"]]},{"id":"75b46cca.10ac94","type":"websocket in","z":"9bad82d3.73747","name":"Web Socket gateway - in","server":"352c287b.4d7588","client":"","x":115,"y":567.6161873340607,"wires":[["85c5a06.fb52a6"]]},{"id":"bd71cf70.43b62","type":"function","z":"9bad82d3.73747","name":"Get GW ID","func":"var msgTools = context.global.msgTools;\nnode.warn('Get GW ID');\nnode.warn(msg.payload);\nvar obj = msg.payload;\nvar mac = obj.mac;\nvar date = obj.date;\nvar option = obj.option;\nvar host = obj.host;\nvar port = obj.port;\ncontext.global.selectedMac= mac;\nvar arrId = msgTools.getGwIdByMac(mac);\nvar msg1 = {},msg2 = {};\n\nif(arrId !== undefined){\n    msg1.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[0]+\"&mdate=\"+date+\"&option=\"+option;\n    msg2.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[1]+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn('msg1.url :\\n'+msg1.url);\n    node.warn('msg2.url :\\n'+msg2.url);\n    return [msg1,msg2];\n}else{\n    return;\n}\n\n","outputs":"2","noerr":0,"x":402.8055419921875,"y":673.2594120502472,"wires":[["6266040e.a5f77c"],["899a8840.261578"]]},{"id":"22543f6a.4b592","type":"function","z":"9bad82d3.73747","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData('gateway',devices);\n\nmsg.payload = {id:\"change_table2\", v: dataString,type: 'gateway'}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":844.5633544921875,"y":743.4000370502472,"wires":[["4ddc4358.90093c","8c1d04d0.b48718"]]},{"id":"899a8840.261578","type":"http request","z":"9bad82d3.73747","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":576.5633544921875,"y":746.4000370502472,"wires":[["22543f6a.4b592"]]},{"id":"ab8d437d.ca1dc","type":"debug","z":"9bad82d3.73747","name":"","active":true,"console":"false","complete":"payload","x":1168.8133544921875,"y":686.0094120502472,"wires":[]},{"id":"8c1d04d0.b48718","type":"debug","z":"9bad82d3.73747","name":"","active":true,"console":"false","complete":"payload","x":1180.5633544921875,"y":752.4000370502472,"wires":[]},{"id":"a257fa80.c83378","type":"debug","z":"9bad82d3.73747","name":"","active":true,"console":"false","complete":"false","x":780.8055419921875,"y":558.0172245502472,"wires":[]},{"id":"43fb4700.d2b768","type":"debug","z":"8999d696.4e34e8","name":"","active":false,"console":"false","complete":"payload","x":330,"y":74,"wires":[]},{"id":"71ae6b11.100324","type":"function","z":"8999d696.4e34e8","name":"parse message","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg( JSON.parse(msg.payload));\nif(parseData === null){\n    node.warn('Repeat message drop!!!');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":348.37501525878906,"y":149.38671875,"wires":[["a8bbf3da.d5d2b","11396843.900e88"]]},{"id":"11396843.900e88","type":"function","z":"8999d696.4e34e8","name":"Save message to  DB","func":"var deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\ndeviceDbTools.saveDeviceMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":574.3788452148438,"y":152.88671875,"wires":[["32228f1f.b395d"]]},{"id":"32228f1f.b395d","type":"debug","z":"8999d696.4e34e8","name":"","active":false,"console":"false","complete":"false","x":819.3828468322754,"y":153.53515815734863,"wires":[]},{"id":"c61f5371.e385e","type":"mqtt in","z":"8999d696.4e34e8","name":"mqtt","topic":"client/200000107/200000107-GIOT-MAKER","qos":"2","broker":"4b900b40.fe81d4","x":89.00001525878906,"y":74.61112213134766,"wires":[["43fb4700.d2b768","71ae6b11.100324"]]},{"id":"bd16424e.dde85","type":"inject","z":"8999d696.4e34e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":132.99996948242188,"y":322,"wires":[["e0ebca2c.f737e8"]]},{"id":"e0ebca2c.f737e8","type":"function","z":"8999d696.4e34e8","name":"Save finalList to DB","func":"var msgTools = context.global.msgTools;\nvar listDbTools = context.global.listeDbTools;\nvar list = msgTools.getFinalList();\nnode.warn('list :'+JSON.stringify(list));\n//msgTools.saveFinalListToFile();\nlistDbTools.updateList('finalist',list,function(err,result){\n    if(err)\n        node.warn('Save final list to database err:'+err);\n    else\n         node.log('Save final list to database success');\n});\n\nreturn;","outputs":1,"noerr":0,"x":401.00393295288086,"y":324.18748664855957,"wires":[[]]},{"id":"c012cb3d.3c4a98","type":"comment","z":"8999d696.4e34e8","name":"Auto save finalList to file per 1 minutes","info":"","x":232.99606323242188,"y":281.640625,"wires":[]},{"id":"1877109b.647bbf","type":"inject","z":"8999d696.4e34e8","name":"","topic":"","payload":"{\"id\":\"0109a427-3e22-4384-8ee6-8d9998113bc2\",\"macAddr\":\"05010312\",\"data\":\"aa20320a7b00000000000001e8\",\"buff\":\"2017-06-20T01:58:37.718Z\",\"recv\":\"2017-06-20T01:58:37.000Z\",\"extra\":{\"gwip\":\"134.208.240.24\",\"gwid\":\"00001c497b431f8e\",\"rssi\":-121.2,\"snr\":-7.2}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":82,"y":226,"wires":[["9fba938d.12274"]]},{"id":"9fba938d.12274","type":"function","z":"8999d696.4e34e8","name":"","func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":241,"y":212,"wires":[["71ae6b11.100324"]]},{"id":"a8bbf3da.d5d2b","type":"function","z":"8999d696.4e34e8","name":" message switch notify","func":"\nvar obj = msg.payload;\nvar debug = false;\nnode.warn('final payload : \\n'+JSON.stringify(obj));\nif(obj.information.voltage<350){\n    var str = obj.mac + \":\"+\"電壓 = \" + obj.information.voltage + \"過低\";\n    msg.payload = str;\n    msg.topic = \"旭和sensor電壓過低通知\";\n    node.warn('final payload : '+str);\n\n    return msg;\n}else{\n    return;\n}","outputs":1,"noerr":0,"x":609.0000076293945,"y":230.00000953674316,"wires":[["370b2ad.5e5b6d6"]]},{"id":"a0f7cc2a.ab632","type":"inject","z":"8999d696.4e34e8","name":"","topic":"","payload":"{\"mac\":\"05010312\",\"data\":\"aa20320a7b00000000000001e8\",\"recv\":\"2017-06-20T01:58:37.000Z\",\"date\":\"2017/06/20 10:19:13\",\"extra\":{\"gwip\":\"134.208.240.24\",\"gwid\":\"00001c497b431f8e\",\"rssi\":-121.2,\"snr\":-7.2},\"timestamp\":1497923917000,\"information\":{\"soil_temperature\":26.83,\"soil-water\":0,\"co2\":0,\"lux\":0,\"voltage\":488}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":404.00006103515625,"y":230.00002670288086,"wires":[["a8bbf3da.d5d2b"]]},{"id":"370b2ad.5e5b6d6","type":"e-mail","z":"8999d696.4e34e8","server":"smtp.gmail.com","port":"465","secure":true,"name":"hyper5798@gmail.com","dname":"","x":854,"y":235,"wires":[]}]